a:focus,
button:focus {
	user-select: none;
	outline: none !important;
}

body, div.wd-content {
	display: flex;
	flex-direction: column;
	min-height: 60vh;
	padding: 0;
}

ul.row {
	list-style: none;
}


.btn.wd-large-black-btn {
	width: 100%;
	background-color: #2c2d33;
	border-color: #2c2d33;
	color: #fff;
	font-size: 18px;
	font-weight: 800;

	&:hover {
		background-color: #3d3d46;
		color: #fff;
	}
}
