.wd-cart-wrapper {
	& .wd-cart-heading {
		padding-bottom: 16px;
	}
}

.wd-cart-head-container {

	line-height: 3.2;
	background-color: #f8f8f8;

	& .wd-cart-heading-el {
		font-size: 16px;
	}
}

.wd-cart-item {
	& .wd-cart-element {
		vertical-align: middle;
		font-size: 14px;
	}

	& .wd-cart-el-close {
		text-align: center;
		font-size: 22px;

		& .wd-cart-close-icon {
			cursor: pointer;
		}
	}
}

.wd-cart-total-container {
	display: flex;
	justify-content: flex-end;
	margin-top: 48px;
}

.wd-cart-total-container {
	& .wd-cart-element-total {
		background-color: #f8f8f8;
		font-size: 16px;
		font-weight: 600;
	}

	& .wd-cart-element-amt {
		background-color: #fdfdfd;
		font-size: 16px;
	}

	& .wd-cart-checkout-btn {
		width: 100%;
		background-color: #2c2d33;
		border-color: #2c2d33;
		color: #fff;
		font-size: 18px;
		font-weight: 800;

		&:hover {
			background-color: #3d3d46;
			color: #fff;
		}

		& .wd-cart-checkout-txt {
			padding-right: 12px;
		}
	}
}
