#nprogress {

	// Background bar
	.bar {
		height: 2px !important;
		border-top: 4px solid #dbd9d9 !important;

		.peg {
			box-shadow: 0 0 2px #fff, 0 0 5px #fff !important;
		}
	}

	// Spinner
	.spinner {
		.spinner-icon {
			border-top-color: #a6a4a4 !important;
			border-left-color: #fff !important;
		}
	}
}
